/*****************************

	LISTAGEM DOS  IMOVEIS

******************************/
div#lista-de-imoveis{
	margin: 10px auto;
	background: url(../img/fundo-da-lista-dos-imoveis.png) no-repeat;
	background-size: 850px 100%;
}

/*************
	PAGINAÇÃO
******************/
ul#imovel-paginacao {
	font-size: 1.2em;
	margin: 10px;
	margin-left: 40px;
	clear: both;
	float: left;
}